name: Metrics
on:
  # Roda todo dia à meia-noite ou quando você pedir
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      
      # -----------------------------------------------------------------
      # CARTÃO 1: STATUS GERAIS (Sem o Relógio para não dar erro)
      # -----------------------------------------------------------------
      - name: General Stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Tiag0Sants
          template: classic
          filename: header.svg
          config_timezone: America/Sao_Paulo
          
          # Apenas o essencial (evita erros de plugins pesados)
          base: header, repositories
          base_extracolumn: no
          config_order: header, repositories

      # -----------------------------------------------------------------
      # CARTÃO 2: LINGUAGENS (O Gráfico de Rosca/Donut)
      # -----------------------------------------------------------------
      - name: Language Donuts
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Tiag0Sants
          template: classic
          filename: languages.svg
          config_timezone: America/Sao_Paulo
          
          # Remove a base para ficar só o gráfico redondo
          base: ""
          
          # Configuração para gerar a Rosca (Donut)
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_limit: 7
