name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:

      # -------------------------------------------------
      # CARD 1 — STATUS GERAL
      # -------------------------------------------------
      - name: General Stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: TiagoSants
          template: classic
          filename: header.svg
          theme: dark
          config_timezone: America/Sao_Paulo

          base: header, repositories

      # -------------------------------------------------
      # CARD 2 — LINGUAGENS (DONUT)
      # -------------------------------------------------
      - name: Language Donut
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: TiagoSants
          template: classic
          filename: languages.svg
          theme: dark
          config_timezone: America/Sao_Paulo

          base: ""

          languages: yes
          languages.display: donut
          languages.sections: most-used
          languages.details: percentage
          languages.limit: 7
