name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      # -----------------------------------------------------------------
      # CARTÃO 1: Stats + RELÓGIO DE HÁBITOS (A tal "Bola" da esquerda)
      # -----------------------------------------------------------------
      - name: Header and Habits (Round Clock)
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Tiag0Sants
          template: classic
          filename: header.svg
          config_timezone: America/Sao_Paulo
          
          # Limpa o visual
          base: header
          base_extracolumn: no
          
          # ATIVA O GRÁFICO REDONDO (Relógio)
          plugin_habits: yes
          plugin_habits_facts: no
          plugin_habits_charts: yes 
          config_order: header, habits
