name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Tiag0Sants
          template: classic
          
          # Remove os detalhes pesados e foca no cabeçalho e linguagens
          base: header
          base_extracolumn: no
          
          # Força o layout horizontal
          layout: columns
          
          # Gráfico de Linguagens (Estético)
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_limit: 8
          
          # Conquistas em uma linha só (bem pequenas)
          plugin_achievements: yes
          plugin_achievements_display: compact
          
          config_timezone: America/Sao_Paulo
