name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Tiag0Sants
          template: classic
          base: header, repositories
          config_timezone: America/Sao_Paulo
          
          # Visual Horizontal e Minimalista
          base_extracolumn: no
          layout: columns
          
          # Gráfico de Linguagens (Estilo Ballerini)
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_indepth: yes # Dá mais detalhes estéticos
          
          # Achievements Compactos (embaixo, sem ocupar espaço)
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: C
          
          # Cores e Estilo
          config_padding: 0, 8%
          output_action: commit
          committer_message: "chore: update metrics"
