name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Tiag0Sants
          template: classic
          
          # Remove o "listão" de baixo para ficar minimalista
          base: header, repositories
          base_extracolumn: no
          
          # Força o estilo horizontal (Columns)
          layout: columns
          
          # Configuração das Linguagens (Igual ao da Rafaella)
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_limit: 8
          
          # Remove o erro de Achievements usando o modo compacto
          plugin_achievements: yes
          plugin_achievements_display: compact
          
          config_timezone: America/Sao_Paulo
