name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      # Primeiro cartão: Status Gerais
      - name: Header and Stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Tiag0Sants
          template: classic
          base: header, repositories
          filename: header.svg
          config_timezone: America/Sao_Paulo

      # Segundo cartão: Linguagens com Gráfico Circular (Indepth)
      - name: Language Donuts
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Tiag0Sants
          template: classic
          base: ""
          filename: languages.svg
          plugin_languages: yes
          plugin_languages_indepth: yes # Gera o gráfico circular (donut)
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          config_timezone: America/Sao_Paulo
